################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Nepse/.vs
/.vs/Nepse
/.vs
/Nepse/src/.vs
